<div data-alt-collapse="data-alt-collapse">
    <div data-alt-accordion="data-alt-accordion" data-title="Home">
        <h1>Content Home</h1>
    </div>
    <div data-alt-accordion="data-alt-accordion" data-title="Profile">
        <h1>Content Profile</h1>
    </div>
    <div data-alt-accordion="data-alt-accordion" data-title="Messages">
        <h1>Content Messages</h1>
    </div>
    <div data-alt-accordion="data-alt-accordion" data-title="Settings">
        <h1>Content Settings</h1>
    </div>
</div>